.about-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.about-block-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-image-1 {
  width: 1000px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.about-image-2 {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Mobile */
@media (max-width: 968px) {
  .about-block {
    flex-direction: column;
  }

  .about-image-2 {
    width: 100%;
    max-width: 350px; /* si quieres limitar un poco */
    margin: 0 auto;
  }
}
