@import './variables.css';

body {
  font-family: var(--font-base);
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

/* Forzar a que inputs, selects, buttons hereden */
input,
select,
button,
textarea {
  font-family: inherit;
}